*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Canter Bold';
    src: url('./fonts/Canter Bold.otf') format('truetype');
}
@font-face {
    font-family: 'Canter Bold Strips';
    src: url('./fonts/Canter Bold Strips.otf') format('truetype');
}
.mainContainer{
    height: 320px;
    width: 800px;
    display: flex;
    border: 1px solid;
}
.mainContainer > .menu{
    width: 200px;
    height: 320px;
}
.menu > .heading {
    position: relative;
}
.menu > .heading > h1{
    font-family: 'Abel', sans-serif;
    color:#3d2561;
    font-size: 50px;
}