*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Canter Bold';
    src: url('./fonts/Canter Bold.otf') format('truetype');
}
@font-face {
    font-family: 'Canter Bold Strips';
    src: url('./fonts/Canter Bold Strips.otf') format('truetype');
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vcenter{
    display: flex;
    align-items: center;
}
.mainContainer{
    height: 320px;
    width: 800px;
    border: 1px solid;
}
.mainContainer > .menu{
    height: 100px;
}
.menu > .heading {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    flex-direction: column;
    border: 1px solid;
    background: #3d2561;
    margin: 0 auto;
}
.menu > .heading > h1{
    font-family: 'Abel', sans-serif;
    color:#ffda79;
    font-size: 24px;
}